{% load staticfiles %}
<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Botanizer!">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="{% static "libs/bootstrap/dist/css/bootstrap.css" %}">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="{% static "styles/main.css" %}">
    <!-- endbuild -->
  </head>
  <body ng-app="botanApp">
    <div class="navbar navbar-inverse navbar-collapse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Botaniser</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a ng-href="#">Home</a></li>
                <li><a ng-href="#/about">About</a></li>
                <li><a ng-href="#">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>

    {% block content %}{% endblock %}
    <div class="container">

      <div ng-view=""></div>

    </div>

  <div class="footer">
    <div class="container">
        <p class="pull-right">&copy; Botaniser 2014</p>
    </div>
  </div>







    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="{% static "libs/es5-shim/es5-shim.js" %}"></script>
    <script src="{% static "libs/json3/lib/json3.min.js" %}"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="{% static "libs/jquery/dist/jquery.js" %}"></script>
    <script src="{% static "libs/angular/angular.js" %}"></script>
    <script src="{% static "libs/json3/lib/json3.js" %}"></script>
    <script src="{% static "libs/bootstrap/dist/js/bootstrap.js" %}"></script>
    <script src="{% static "libs/angular-resource/angular-resource.js" %}"></script>
    <script src="{% static "libs/angular-cookies/angular-cookies.js" %}"></script>
    <script src="{% static "libs/angular-sanitize/angular-sanitize.js" %}"></script>
    <script src="{% static "libs/angular-animate/angular-animate.js" %}"></script>
    <script src="{% static "libs/angular-touch/angular-touch.js" %}"></script>
    <script src="{% static "libs/angular-route/angular-route.js" %}"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="{% static "js/resources/lzString.js" %}"></script>
        <script src="{% static "js/resources/specielist.js" %}"></script>
        <script src="{% static "js/app.js" %}"></script>
        <script src="{% static "js/directives/fileSelect.js" %}"></script>
        <script src="{% static "js/services/fileReader.js" %}"></script>
        <script src="{% static "js/services/geolocation.js" %}"></script>
        <script src="{% static "js/services/api.js" %}"></script>
        <script src="{% static "js/controllers/main.js" %}"></script>
        <script src="{% static "js/controllers/about.js" %}"></script>
        <script src="{% static "js/controllers/nearMe.js" %}"></script>
        <script src="{% static "js/controllers/report.js" %}"></script>
        <!-- endbuild -->
</body>
</html>
