{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Botaniser{% endblock %}
{% block content %}

<div class="jumbotron botaniser-jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 text-box">
                <h1>Botaniser</h1>
                <h2 class="text-success">Find rare plant species. Increase knowledge. Have fun.</h2>
                <p><a class="btn btn-success btn-lg" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <div class="row row-centered">
        <div class="col-md-4 block" >
            <a href="http://www.govhack.org/" class="centered">
                <img src="{% static "images/govhacklogo.png" %}" >
            </a>

        </div>
        <div class="col-md-4 block">
            <a class="" href="http://www.ala.org.au/" class="centered">
                <img src="{% static "images/alalogo.jpg" %}">
            </a>

        </div>
        <div class="col-md-4 block">
            <a href="https://github.com/govhack-botaniser" class="centered">
                <img src="{% static "images/octocat.jpg" %}">
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4 block">
            <p>A GovHack 2014 Project.</p>
        </div>
        <div class="col-md-4 block">
            <p>Using data from the Atlas of Living Australia.</p>
        </div>
        <div class="col-md-4 block">
            <p>Check us out on GitHub.</p>
        </div>

    </div>
</div>
{% endblock %}